<div>
  <h1 id="about-me">About me</h1>
  <p>
    Hello there! 👋 I'm zeriax, a young developer from Helsinki, Finland. I like
    imagining things and try my best to improve my skills.
  </p>
  <p>
    I really enjoy programming at my free time! I started my (kind of) full-time
    journey in July 2021, though I already knew some HTML back in 2017.
  </p>
  <h2 id="what-is-this-">What is this?</h2>
  <p>
    This website to show off my skills and projects that I have done, hope you
    like it!
  </p>
  <h2 id="projects">Projects</h2>
  <p>
    Currently I&#39;m working on projects like
    <a href="https://github.com/libremayk">libreMayk</a>,
    <a href="https://github.com/zeriaxdev/UntitledChat">UntitledChat</a>. More
    information about them you can find at <a href="/github">./github/</a>
  </p>
</div>
