@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Work+Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

code {
  font-family: monospace;
}

h1 {
  font-size: 3vh;
  font-weight: 600;
  margin-top: 1.5vh;
}

h2 {
  font-size: 2.5vh;
  font-weight: 600;
  margin-top: 1vh;
}

@layer components {
  .min-w-xl {
    min-width: 300px;
  }

  .min-w-537px {
    min-width: 537px;
  }

  .min-w-2xl {
    min-width: 42rem;
  }

  .min-h-xl {
    min-height: 200px;
  }

  .link:any-link {
    text-decoration: underline;
  }

  .url {
    font-weight: 600;
  }

  .url:hover {
    text-decoration: underline;
  }

  .urldark {
    color: #eee;
  }

  .typewriter::after {
    font-family: monospace;
    content: "|";
    animation: blink 1.5s infinite;
  }

  .typewriter-terminal::after {
    content: "▊";
    animation: blink 1.5s infinite;
  }

  .rq::after {
    font-family: monospace;
    content: " *";
    color: rgb(239 68 68);
  }

  @keyframes blink {
    0% {
      opacity: 0%;
    }

    50% {
      opacity: 100%;
    }

    100% {
      opacity: 0%;
    }
  }
}
